.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.custom-btn1 {
    height: 60px;
    color: gold;
    min-width: 150px;
}

.nav-container {
    margin-top:15px;
}

.custom-btn2 {
    height: 30px;
    min-width: 60px;
    color: gold;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.custom-btn3 {
    color: gold;
    text-align: center;
    font-size: 12px;
    padding: 3px 10px;
}

.custom-btn4 {
    color: gold;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}


.custom-txt1 {
    max-width: 100px;
    height: 60px;
}

table img {
    width: 100px;
    height: 100px;
}


.field-validation-valid
{
    display: none;
}
.validation-summary-valid
{
    display: none;
}

a:hover {
    text-decoration: none;
    color: white;
    
}

.search-bar{
   min-width:100%;
   
}

.navbar-brand{
    font-size:30px;
}

.img-square {
    width:100%;
}

.body-content {
    margin-top:-20px;
    background: rgba(250,128,114, 0.95);
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px
   
}

body {
    background-image:url(../Images/background.jpg);
    background-position:center;
    background-size:100%;

}

.navbar-default {
    background: rgba(152,251,152, 0.95);
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;        
}

.disabled {
    background-color:lightgray;
}