@using ToyWebsite.Models
@model List<Item>

@{
    ViewBag.Title = "Home Page";
}

<h2>
    Popular
</h2>

<div class="container">
    <div class="row">
        @foreach(Item i in Model)
        {
            <div class="col-md-2">
                <a href="@Url.Action("Item", "Product", new { anItemID = i.itemID })" >
                    <img src="@Url.Content("~/images/" + i.itemFileName)" class="img-rounded img-responsive" />
                </a>
            </div>
        }
    </div>
</div>

