@using ToyWebsite.Models
@model Lookup<int, Cart>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{float totalPrice = 0;
    <div class="container">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Quantity</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                @foreach (IGrouping<int, Cart> i in Model)
                {
                    <tr>
                        <td><img src="@Url.Content("~/images/" + i.First().item.itemFileName)" class="img-rounded" /></td>
                        <td>@i.First().item.itemName</td>
                        <td>
                            @i.Count()
                        <div class="btn-group-vertical">
                            @using (Html.BeginForm("IncrementItem", "Cart", new { anItemID = i.Key }, FormMethod.Post))
                            {
                                <button class="btn btn-success custom-btn3" type="submit">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </button>
                            }
                            @using (Html.BeginForm("DecrementItem", "Cart", new { anItemID = i.Key }, FormMethod.Post))
                            {
                                <button class="btn btn-danger custom-btn3" type="submit">
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                </button>
                            }
                        </div>
                    </td>
                    <td>$@((i.First().item.itemCost * i.Count()).ToString("0.00")) </td>
                    <td>
                        @using (Html.BeginForm("RemoveItem", "Cart", new { anItemID = i.Key }, FormMethod.Post))
                        {
                            <button id="removeBtn" class="btn btn-danger custom-btn4" type="submit">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        }

                    </td>
                </tr>
                    totalPrice += i.First().item.itemCost * i.Count();
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total: </td>
                    <td>$@totalPrice.ToString("0.00")</td>
                </tr>

            </tbody>
        </table>
    </div>
}

